.menu-chat {
    height: 55px;
    width: 500px;
    max-width: 100%;
    max-height: 55px;
    display: flex;
    // flex-wrap: wrap;
    gap: 5px;
    border-radius: 7px;
    padding: 3px;
    position: relative;
    overflow: hidden;

    .chat-avatar {
        max-height: 100%;
        flex-basis: 45px;
        max-width: 45px;
        margin: 5px;
        border-radius: 100%;
        object-fit:cover;
    }

    .chat-info {
        display: none;  
        flex-grow: 1;
        // margin-top: 5px;
        width: calc(100%);
        max-width: calc(100% - 70px);
        max-height: calc(100%);

        h5 {
            padding: 0;
            margin: 0;
        }

        .overview {
            height: 20px;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            margin-top: 5px;
            color: #7F7E80;
            font-size: 12px;
        }

        .overview-interpunct {
            padding: 0 3px;
        }

        .overview-message {
            width: calc(95%);
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .overview-date {
            white-space: nowrap;
        }
    }


    &[data-selected=true] {
        background-color: #F5F5F5;
    }

    @media only screen and (min-width: 414px) {
        .chat-info {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 8px 0px;
        }

    }

    &:hover {
        cursor: default;
    }

}